@CHARSET "ISO-8859-1";


fieldset{
	
display: inline;
		
}


p > label{
	
	display: block;
	
}

#submit{
	
	margin-top: 30px;
	margin-left: 50px;

}

.error{
	border-bottom-color: red;
}